.MainBox{
   /*border: 1px solid rgb(76, 15, 15);*/
    margin: 4px;
    padding: 5px;
    /* text-align: center; */
    /* width: 50%; */
    font-size: 15px;
    font-style: normal;
    display: flex;

.Name-Box{
    border: 1px solid rgb(76, 15, 15);

}
}
.Preview-container{
border: 1px solid rgb(21, 20, 21);
margin: 4px;
padding: 5px;
/* text-align: center; */
width: 50%;
font-size: 15px;
font-style: normal;
}
.head{
margin: 3px;
border: 1px solid black;
padding: 5px;
font-size: 15px;
font-style: normal;
dislpay: flex;
}

.btn-1 {
background-color: blue;
}
.Layout-container{
margin: 3px;
/* border: 1px solid black; */
padding: 5px;
font-size: 15px;
font-style: normal;
}

.box-1{
margin: 3px;
border: 1px solid black;
padding: 5px;
font-size: 5px;
width: 70px;
height: 20px;
display: flex;


}
.box-2{
margin: 3px;
border: 1px solid black;
padding: 5px;
font-size: 5px;
height: 20px;
width: 70px;
display: flex;
}

.box-3{
margin: 3px;
border: 1px solid black;
padding: 5px;
font-size: 5px;
width: 70px;
height: 20px;
display: flex;
}
.Fields-container{
margin: 3px;
/* border: 1px solid black; */
padding: 5px;
font-size: 15px;
font-style: normal;

}
.table-container{
margin: 10px;
padding: 5px;
font-size: 15px;
font-style: normal;
border: 1px solid black;
width: fit-content;
display: flex;
}
.btn-2{
background-color: blue;


}
