.container{
  
  /* border: 1px solid black; */
  padding: 30px;
  margin-right: 300px;
  
  margin-left: 300px;
  margin-right: 400px;
}
.sub-container{
  /* border: 1px solid black; */
  font-size: 20px;
  margin-left: 300px;
  margin-right: 400px;
  background-color: rgb(241, 241, 245);
  border-radius: 10px;
 
}
.currentTime{
  width: 200px;
  height: 30px;
}
.form-div{
  display: flex;
}
.hedding{
  text-align: center;
}
.name-box{
  
  margin: 20px;
  height: 30px;
  width: 450px;
  border-radius: 3px;
}
.radio-box{
  margin: 20px;
  width: 20px;
}
.searchBar{
  margin: 20px;
  width: 300px;
}
.search-contain{
  background-color: rgb(237, 236, 247);
}
.btn-btn{
  background-color: rgb(161, 64, 213);
  width: 200px;
  height: 40px;
  margin-left: 150px;
  border-radius: 10px;
  border: none;
  
}
.btn-reset{
  background-color: rgb(235, 67, 142);
  width: 200px;
  height: 40px;
  margin-left: 150px;
  border-radius: 10px;
  border: none;
}
.profile-photo{
  background-color: rgb(210, 209, 209);
  font-size: 20px;
}